

.font {
  font-family: Roboto;
}

.root: {
    display: 'flex';
    flexWrap: 'wrap';
    justifyContent: 'space-around';
    overflow: 'hidden';
  }
.gridList: {
    width: '100%';
    height: '100%';
    transform: 'translateZ(0)';
  }
.titleBar: {
    background: 'black';
  }
.icon: {
    color: 'white';
  }
